.container-visitor {
  background-image: url("@/assets/img/home/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 880px;
  text-align: center;
}

.welcome-pharse {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  padding-top: 130px;
  gap: 30px;
}

.welcome-title {
  font-size: 64px;
}
.welcome-title .bold {
  font-weight: 700;
}
.welcome-title .black {
  font-weight: 900;
}

.welcome-txt {
  font-size: 36px;
  font-weight: 200;
  line-height: 130%;
}
.welcome-txt b {
  font-weight: 500;
}

.welcome-btn-space {
  display: flex;
  justify-content: end;
}
.login-btn-solid {
  color: white;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: var(--main-blue);
  border: var(--main-blue) 2px solid;
  padding: 30px 50px;
  border-radius: 8px;
}