.content-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  box-sizing: border-box;
}

.content-info-space {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 70px 50px 20px 50px;
  gap: 10px;

  border-bottom: 1px solid var(--border-gray);
}
.content-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content-info-space .content-title {
  font-size: 32px;
  font-weight: 700;
}
.content-info-space p {
  font-size: 20px;
  font-weight: 200;
}

.edit-btn {
  color: var(--main-blue);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  border: var(--main-blue) 2px solid;
  padding: 10px 30px;
  border-radius: 10px;
}
.update-btn {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--main-blue);
  border: var(--main-blue) 2px solid;
  padding: 10px 30px;
  border-radius: 10px;
}
.basic-btn {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  border: var(--border-gray) 1px solid;
  padding: 10px 30px;
  border-radius: 10px;
}
