aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 300px;
  min-height: 100%;
  gap: 100px;

  box-sizing: border-box;
  padding: 70px 50px;

  border-right: 1px solid var(--border-gray);
}
aside * {
  font-size: 20px;
}

.setting-menu div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.setting-menu div p {
  margin-bottom: 10px;
  color: var(--gray);
  font-weight: 600;
}

.clickable-txt:hover {
  font-weight: 600;
  transition: 0.1s;
}