.input {
  padding: 10px 20px;
  border: 1px solid var(--border-gray);
  border-radius: 10px;
}
.input-simple {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid var(--border-gray);
}

.focus-lg:focus {
  background-color: var(--light-gray);
  transition: 0.2s ease;
}
.focus-bg:focus {
  background-color: var(--border-gray);
  transition: 0.2s ease;
}
.focus-c:focus {
  background-color: rgb(104, 128, 255, 0.2);
  transition: 0.2s ease;
}

.focus-lined-c:focus {
  border-color: var(--main-blue);
  transition: 0.2s ease;
}
