@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

:root {
  --main-blue: #6880ff;
  --main-black: #1e1e1e;
  --dark-gray: #404040;
  --gray: #777777;
  --border-gray: #d9d9d9;
  --light-gray: #f2f2f2;
}

* {
  /* flex-shrink: 0; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #1e1e1e;

  text-decoration: none;
}

html,
body,
#app {
  width: 1920px;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1920px;
  overflow-y: scroll;
}

main {
  height: auto;
  min-height: 880px;
  padding: 0 250px;
}

footer {
  display: flex;```
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-gray);
}

button,
a {
  cursor: pointer;
}

input:focus {
  outline: none;
}

i.pointer {
  cursor: pointer;
}

.clickable:hover {
  filter: brightness(120%);
  transition: 0.2s;
}

.clickable-shadow:hover {
  box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
  transition: 0.1s;
}

.clickable-img:hover {
  filter: drop-shadow(1px 5px 3px rgb(0, 0, 0, 0.3));
  transition: 0.2s;
}

.clickable-btn:hover {
  background-color: var(--main-blue);
  color: white;
  transition: 0.2s;
}
.clickable-btn-basic:hover {
  background-color: var(--border-gray);
  color: white;
  transition: 0.1s;
}

.clickable-txt:hover {
  font-weight: 600;
  transition: 0.2s;
}

::-webkit-scrollbar {
  display: none;
}

.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 18px;
  transition: 0.25s;
}

.w-btn-indigo:hover {
  background-color: rgb(231, 244, 255);
}

.w-btn-indigo {
  background-color: rgb(252, 254, 255);
  color: #1e6b7b;
}
