  @font-face {
    font-family: 'Spoqa Regular';
    src: url('@/assets/fonts/SpoqaHanSansNeo_TTF/SpoqaHanSansNeo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Spoqa Bold';
    src: url('@/assets/fonts/SpoqaHanSansNeo_TTF/SpoqaHanSansNeo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 18px;
    transition: 0.25s;
  }

  .w-btn-indigo:hover {
    background-color: rgb(231, 244, 255)
  }

  .w-btn-indigo {
    background-color: rgb(252, 254, 255);
    color: #1e6b7b;
  }